@import "tailwindcss";
@import "./futuristic.css";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-share-tech: 'Share Tech Mono', monospace;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
  background-color: #000000;
}