@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
  background-color: #020617;
  /* Very dark slate */
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #020617 70%);
}